@charset "utf-8";
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: 100;
}

a, button { transition: all 0.3s ease; }
a {	color: #666; }
a:hover,
a:focus {
	color: #4EA7FF;
	text-decoration: none;
	outline: none;
}