@charset "utf-8";
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  overflow: hidden;
}
svg {
	fill: #555;
	stroke: #555;
	stroke-width: 0.5;
  width: 90vw;
  height: 90vh;
}

.ui-tooltip {
  
	padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}

.tooltip-inner{
	background-color: black;
}

.tooltip_templates { display: none; }

#Parent{
	background-color: indianred;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

#back{
	vertical-align: middle;
	
	background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
	font-size: 50px;
	width: 3%;
	height: 60px;
	float: left;
	
}

#header{
	background-color: indianred;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
	width: 97%;
	height: 60px;
	float: right;
	
}